* {
    margin : 0;
    padding: 0;
}

.logo {
    display: inline-block;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.request_invite {
    border: none;
    width: 163px;
    height: 44px;
    
    color: white;
    background-color: #33D3C9;
    border-radius: 22px;
}
header ul {
    display: flex;
    flex: 1;
}
header ul li {
    list-style: none;
    color: #9597A5;
    padding: 30px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}


.topright {
    background: linear-gradient(180deg, #2AB6D9 0%, #33D3C9 100%);
    
    
}
.topright, .topleft {
    display: flex;
    flex:1;
    width: 50%;

    height: 656px;
}
.content_topleft {
    width: 447px;
    height: 316px;
    margin: auto;
}
.topleft {
    background-color: #FAFAFA;
    float:left;
    
}
.topleft_title {
    color: #2D314D;
    font-size: 56px;
    font-weight: 300;

}
.topleft p {
    font-family: 'Public Sans', sans-serif;
}
.topleft_description {
    color: #9597A5;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px; /* 155.556% */
    margin-top: 24px;
    
}
.button2 {
    margin-top: 44px;
}
.phone_picture {
    margin-left: auto;
    margin-block: auto;
    
}

.choose_lazybank {
    margin-block: none;
    margin-left: none;
    background-color: #F4F5F7;
    padding-left: 165px;
    padding-right: 165px;
    height: 676px;

}
.title_choose_lazybank{
    color: #2D314D;
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    padding-top: 96px;
}
.whychoose {
    margin-left: 70px;
}
.desc_whychoose {
    color: #9597A5;
    font-size: 18px;
    font-weight: 400;
    width: 635px;
    height: 56px;
    letter-spacing: -0.281px;
    line-height: 28px; /* 155.556% */
    margin-top: 16px;
    
}
.reason  {
    display: flex;
    justify-content: space-around;
    margin-top: 72px;

}
.online_banking, .simple_budgeting, .fast_onboarding, .open_api{
    width: 255px;
    height: 112px;
}
.section_title {
    color: #2D314D;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.429px;
    font-family: 'Public Sans', sans-serif;
    margin-top: 40px;
}
.choose_description {
    color: #9597A5;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.25px;
    line-height: 26px; /* 162.5% */
    margin-top: 26px;
}


.latest_articles { 
    background-color: #FAFAFA;
    padding-left: 165px;
    padding-right: 165px;
    height: 676px;

    
}
.title_latest {
    padding-top: 80px;
    color: #2D314D;
    font-size: 40px;
    font-weight: 300;
    line-height: 64px; /* 160% */
    font-family: 'Public Sans', sans-serif;
    margin-left: 65px;
    

}

.article1, .article2, .article3, .article4{
    width: 255px;
    height: 395px;
    background-color: #FFF;
}
.all_article {
    display: flex;
    justify-content: space-around;
}

.author {
    margin-top: 25px;
    color: #9597A5;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.156px;
    font-family: 'Public Sans', sans-serif;
}
.title_article{
    margin-top: 8px;
    color: #2D314D;
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px; /* 125% */
    letter-spacing: -0.286px;
    
}
.description_article {
    color: #9597A5; 

    font-family: 'Public Sans', sans-serif;
    font-size: 13px;
    line-height: 18px; /* 138.462% */
    padding-top: 18px;
    
}
.content_articles{
    margin-left: 24px;
    margin-right: 24px;
}
footer {
    height: 191px;
    background: #2D314D;
    display: flex;
    padding-left: 235px;
    padding-top: 48px;
    padding-right: 165px;
    
}

.logo_white {
    padding-bottom: 51px;
}
.footer_left{
    width: 153.333px;
}
.footer_middle ul {
    width: 160px;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px; /* 173.333% */
    letter-spacing: -0.234px;
    font-family: 'Public Sans', sans-serif;
    padding-top: 8px;
    list-style: none;

}
.rights{
    color: #FFF;
    font-size: 15px;
    line-height: 26px; /* 173.333% */
    letter-spacing: -0.234px;
    font-family: 'Public Sans', sans-serif;
    padding-top: 24px;
    padding-bottom: auto;
}
.footer_mid {
    display: flex;
    gap: 30px;    
    float: left;

}
.footer_right {
    margin-left: auto;
    margin-top: -40px;
}
.middle1{
    padding-left: 149px;
}
